<form action="/" method="get">
    <button class="btn btn-small btn-secondary" type="submit" >Cancel</button>
</form>

<form class="form-signin">
    <h3 class="form-signin-heading">New task</h3>
    <input type="text" class="input-block-level" placeholder="Name" name="topic[name]">
    <input type="text" class="input-block-level" placeholder="Title" name="topic[title]">
    <input type="text" class="input-block-level" placeholder="URL" name="topic[url]">
    <input type="text" class="input-block-level" placeholder="Description" name="topic[description]">
    <button class="btn btn-large btn-primary" type="submit" name="submit" formmethod="post">Save</button>
</form>